@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Onest Variable';
  scroll-behavior: smooth;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}

* {
  @apply transition-colors duration-200
}

#theme-button.active{
  left: 29px;
}
